
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>

                <li>
                    <a href="/Admin/Home/Index">
                        <i class="dripicons-meter"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="icon-list"></i>
                        <span> Sản Phẩm </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="/Admin/Category/Index">Danh Mục</a>
                        </li>
                        <li>
                            <a href="/Admin/Brand/Index">Nhãn hàng</a>
                        </li>
                        <li>
                            <a href="/Admin/Product/Index">Sản Phẩm</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="icon-user"></i>
                        <span> Tài khoản </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="/Admin/UserGroup/Index">Loại Tài Khoản</a>
                        </li>
                        <li>
                            <a href="/Admin/User/Index">Tài Khoản</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="icon-bubble"></i>
                        <span> Tin Tức </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="/Admin/ContentCategory/Index">Danh Mục</a>
                        </li>
                        <li>
                            <a href="/Admin/Content/Index">Tin Tức</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="icon-wrench"></i>
                        <span> Hệ Thống </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="/Admin/About/Index">Giới Thiệu</a>
                        </li>
                        <li>
                            <a href="/Admin/Footer/Index">Footer</a>
                        </li>
                        <li>
                            <a href="/Admin/Slide/Index">Slide</a>
                        </li>
                        <li>
                            <a href="/Admin/Menu/Index">Menu</a>
                        </li>
                        <li>
                            <a href="/Admin/Contact/Index">Phản Hồi</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="dripicons-mail"></i>
                        <span> Đơn Hàng </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="/Admin/Order/Index">Danh Sách Đơn Hàng</a>
                        </li>
                        
                    </ul>
                </li>






            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>